<% provide(:title, 'Blog') %>
<h1>Blog</h1>
<script type="text/javascript" src="../javascripts/galleria-1.3.3.min.js"></script>
<script type="text/javascript" src="../javascripts/galleria.classic.min.js"></script>
<h2>
  <%= link_to "New Blog",   new_blog_path %>
</h2>

<table  width="90%">
  <tr>
    <td style="color:#339bb9" width="30%" ><b>Blog Title</b></td>
    <td style="color:#339bb9" width="70%"><b>Blog Content</b></td>
  </tr>

  <% @blogs.each do |post| %>
      <tr style="color:#696969">
         <td width="30%"><%= truncate(post.blog_title, :length=>30) %></td>
        <td width="90%"><%= truncate(post.blog_text, :length=>80) %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_blog_path(post) %></td>
        <td><%= link_to 'Delete', blog_path(post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
       </tr>
   <% end %>
</table>

<style>
    html,body{background:#DCDCDC;margin:0;}
    p{ color: #696969; }
</style>


