

<% provide(:title, 'Twitter') %>
<h1>Twitter</h1>
<script type="text/javascript" src="galleria-1.3.3.min.js"></script>
<script type="text/javascript" src="galleria.classic.min.js"></script>
<p>
  Twitter Test
</p>

<%= form_for  :twitter, :url => {:action => "create"}  do |f| %>
    <p>
      <%= f.label :search_text %><br />
      <%= f.text_field :search_text %>
    </p>
    <p>
      <%= f.submit "Submit" %>
    </p>
<% end %>

<p><%=
    client.search(TwitterSearch.last.search_text, :count => 3, :result_type => "recent").take(3).collect do |tweet|
       "#{tweet.user.screen_name}: #{tweet.text}"
        end
%></p>

<style>
    html,body{background:#DCDCDC;margin:0;}
    p{ color: #696969; }
</style>
