<div class="gallery" id="<%= gallery.id %>">
  <div class="front">
    <%= link_to gallery, class: 'pic-link' do %>
        <%= image_tag gallery.file.url(:thumb) %>
    <% end %>
  </div>

  <div class="back">
    <span class="gallery-name"><%= gallery.file_name %></span>
    <div class="actions">
      <%= link_to 'Show', gallery %>
      <%= link_to 'Delete', gallery, confirm: 'Are you sure you want to delete photo?', method: :delete, class: 'destroy' %>
    </div>
  </div>
</div>