<p id="notice"><%= notice %></p>
<script type="text/javascript" src="../javascripts/galleria-1.3.3.min.js"></script>
<script type="text/javascript" src="../javascripts/galleria.classic.min.js"></script>

<h2><%= @gallery.file_name %></h2>
<%= image_tag @gallery.file.url %>

<div class="show actions">
  <%= link_to 'Remove', @gallery, confirm: 'Are you sure you want to delete?', method: :delete, class: 'destroy' %>
  <%= link_to 'Back to Gallery', galleries_path %>
</div>
